<div class="card " style="background-color: rgb(0,0,0,.4);">
  <!-- <h5 class="card-header h5"></h5> -->
  <div class="card-body text-info p-5">
    <h1 class="card-title "><%= @userinfo[:name] %></h1>
    <div class="row">
    	<div class="col-md-7">
		    <p class="card-text ">用户名: <%= @userinfo[:name] %></p>
		    <p class="card-text">邮箱: <%= @userinfo[:email] %></p>
		    <p class="card-text">性别: <%= @userinfo[:sex] %></p>
        <p class="card-text">状态: <%= @userinfo[:status] %></p>
        <p class="card-text">联系方式: <%= @userinfo[:phonenumber] %></p>
    	</div>
      <div class="col-md-5 text-center">
		    <p class="card-text">
          <% if @userinfo.picture? %>
            <%= image_tag @userinfo.picture.url, class: "rounded-circle img-fluid", style: "height:130px;width:130px", alt: "avatar mx-auto white" %>
          <% else %>
  	         <%= image_tag "user-icon.png", class: "rounded-circle img-fluid", style: "height:130px;width:130px", alt: "avatar mx-auto white" %>
          <% end %>
		    </p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
        <p class="card-text"> </p>
    		<p class="card-text">个性签名: </p>
            <p class="card-text"><%= @userinfo.essay %></p>
    	</div>
    </div>
    <div class="row mt-3">
    	<div class="col-md-12 text-right">
        <% if current_user.id == @userinfo.id %>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#changeinfo">编辑个人信息</button>
        <%= render 'users/changeinfo' %>
    		<!-- <a href="" class="btn btn-primary">change info</a> -->
        <% end %>
    	</div>
    </div>
  </div>
</div>
