<div class="card card-cascade narrower mt-5" id="footstepinput" style="background-color: rgb(0,0,0,.4);">
  <div class="view view-cascade gradient-card-header lighten-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center" style="background-color: #A52A2A">
    <a href="" class="white-text mx-3">给Ta留言</a>
    <div>
      <a href="/articles/<%= @userinfo.id %>/#footstepinput" type="button" class="btn btn-secondary py-2 px-4">重新编辑</a>
    </div>
  </div>

  <div class="px-4 pb-5">
    <%= form_for @newfootstep, url: footsteps_path, method: :post do |f| %>
    <div class="row pr-4">
      <div class="col-md-12">
        <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
          <i class="fa fa-angle-double-right prefix" style="color:rgb(211,211,211,.6);"></i>
          <label for="post_body">在留言板上写下...</label>
          <%= hidden_field_tag :footstepuser_id, current_user.id %>
          <%= hidden_field_tag :user_id, @userinfo.id %>
          <%= text_area "post", "body", "class"=>"md-textarea form-control", "rows" => 3 %>
        </div>
      </div>
    </div>
    <div class="row pr-4">
      <div class="col-md-12 text-right">
        <%= f.submit '提交留言', class: 'btn btn-warning lighten-2 btn-sm' %>
      </div>
    </div>
    <% end %>
  </div>

</div>